.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.contentContainer {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

header {
  width: 100%;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px 0;
  gap: 24px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.linkBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}
