.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;
  background-color: rgba(255, 255, 255, 0.13);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 16.6%;
  padding-left: 16.6%;
  box-sizing: border-box;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 383px;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-self: start;
}


.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  max-width: 383px;
  box-sizing: border-box;
}

.item {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  max-width: 197px;
  font-size: 16px;
  cursor: pointer;
  max-height: 24px;
}

.iconContainer {
  width: 24px;
}

.account {
  composes: nav;
  max-width: 207px;
  margin: 0;
  justify-self: end;

}

.logo {
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: center;
  justify-self: center;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: none;
}

.activeLink {
  color: inherit;
}

@media screen and (max-width: 1500px) {
  .header {
    padding-right: 8.3%;
    padding-left: 8.3%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-right: 4.1%;
    padding-left: 4.1%;
  }
}